<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="<%= extra.home.topmsg %>">
  <meta name="author" content="<%= extra.home.name %>">
  <link rel="icon" type="image/png" href="<%= extra.faviconlink %>" />
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link href="/assets/argon/img/brand/favicon.png" rel="icon" type="image/png">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="/assets/argon/vendor/nucleo/css/nucleo.min.css" rel="stylesheet">
  <link href="/assets/argon/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link type="text/css" href="/assets/argon/css/argon.min.css" rel="stylesheet">
  <title><%= extra.home.title %></title>
  <% if (settings.api.arcio.enabled == true) { %>
  <script async src="https://arc.io/widget.min.js#<%= settings.api.arcio.widgetid %>"></script>
  <% } %>
</head>

<body class="bg-default">
  <!-- Navbar -->
  <nav id="navbar-main" class="navbar navbar-horizontal navbar-transparent navbar-main navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="/dashboard">
        <%= extra.home.topmsg %>
      </a>
    </div>
  </nav>
  <!-- Main content -->
  <div class="main-content">
    <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8 px-5">
              <h1 class="text-white"><%= extra.home.topmsg %></h1>
              <p class="text-lead text-white"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary border-0 mb-0">
            <div class="card-header bg-transparent pb-5">
              <center>
                <h4 class="card-title"></h4>
                <br>
                <a href="<%= userinfo ? extra.home.buttontext.loggedin.link : extra.home.buttontext.loggedout.link %>"
                  class="btn btn-primary"><img src="https://i.imgur.com/EYGXn9D.png" width="25" /> Login with
                  discord</a> <br />
                <br />
                By clicking on "Login with discord", You agree to our Terms & Conditions and Privacy Policy.
            </div>
            <br />
            <br />

            </center>
          </div>
        </div>
      </div>
    </div>
    <script src="/assets/argon/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/assets/argon/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/argon/js/argon.min.js"></script>
</body>

</html>